@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-color: #E6D6BC;
    background-size: cover;
    /* Cubre toda la pantalla */
    background-attachment: fixed;
    /* Fija la imagen en la ventana gráfica */
    background-repeat: repeat;
    /* Evita la repetición de la imagen */
    opacity: 1;
}

.bg-love-background {
    background-image: url('/assets/blog/love-img/love-background.png');
    background-size: cover;
    /* Cubre toda la pantalla */
    background-attachment: fixed;
    /* Fija la imagen en la ventana gráfica */
    background-repeat: repeat;
    /* Evita la repetición de la imagen */
    opacity: 1;
}

.bg-manifiesto-flor {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-image: url(/assets/blog/manifiesto/flor-manifiesto-bg.png);
    background-color: #E6D6BC;
    background-size: contain;
    /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;

    /* Evita la repetición de la imagen */
}

.bg-manifiesto-perro {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-image: url(/assets/blog/manifiesto/foto-mackena.png);
    background-color: #E6D6BC;
    background-size: cover;
    /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;

    /* Evita la repetición de la imagen */
}

.bg {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50vh;
}

.footer-screen {
    height: 40vh;
}

#hero-video {
    margin-top: 101vh;
}

#hero-post {
    margin-top: 100vh;
}

.hero-video-mobile {
    margin-top: 101vh;
}

:root {
    --swiper-theme-color: grey !important
}


@media (max-width: 425px) {
    .banner_centered {
        width: 90% !important;
        max-width: 90% !important;
        height: 90% !important;
        max-height: 90% !important;
    }
}