@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-color: rgb(223, 209, 167);
    background-size: cover;
    /* Cubre toda la pantalla */
    background-attachment: fixed;
    /* Fija la imagen en la ventana gr치fica */
    background-repeat: repeat;
    /* Evita la repetici칩n de la imagen */
    opacity: 1;
}

.bg-manifiesto-flor {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-image: url(/assets/blog/manifiesto/flor-manifiesto-bg.png);
    background-color: rgb(223, 209, 167);
    background-size: contain;
    /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;

    /* Evita la repetici칩n de la imagen */
}

.bg-manifiesto-perro {
    /* background-image: url('/assets/blog/texture/bg-texture-min.webp'); */
    background-image: url(/assets/blog/manifiesto/foto-mackena.png);
    background-color: rgb(223, 209, 167);
    background-size: cover;
    /* Cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;

    /* Evita la repetici칩n de la imagen */
}

.bg {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50vh;
}

.footer-screen {
    height: 40vh;
}

#hero-video {
    margin-top: 101vh;
}

#hero-post {
    margin-top: 101vh;
}

.hero-video-mobile {
    margin-top: 101vh;
}

:root {
    --swiper-theme-color: grey !important
}

/*=============================================
                Contact Us Page
=============================================*/

.form-group {
    margin-bottom: 30px;
}

.form-control {
    height: 60px;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #212121;
    border: 1px solid #eee;
    border-radius: 0;
}

.form-control:focus {
    border-color: var(--main-color);
}

.contact-us p,
.contact-us address {
    font-size: 16px;
    line-height: 1.8;
}

.contact-us h3 {
    margin-top: 0;
}

.contact-us address {
    margin-bottom: 40px;
    line-height: 25px;
}

.contact-us address a {
    color: var(--main-color);
}

.contact-us address a:hover {
    color: #212121;
}

.search-submit {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: 0;
    padding: 0;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #e0e0e0;
}

.search-submit:hover {
    color: var(--main-color);
}

@media (max-width: 425px) {
    .banner_centered {
        width: 90% !important;
        max-width: 90% !important;
        height: 90% !important;
        max-height: 90% !important;
    }
}