@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
    background-image: url('/assets/blog/texture/bg-texture-min.webp');
    background-size: cover;
    /* Cubre toda la pantalla */
    background-attachment: fixed;
    /* Fija la imagen en la ventana gráfica */
    background-repeat: no-repeat;
    /* Evita la repetición de la imagen */
    opacity: 1;
}

.bg {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
    height: 50vh;
}

.footer-screen {
    height: 40vh;
}

#hero-video {
    margin-top: 101vh;
}

:root {
    --swiper-theme-color: grey !important
}